<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Приключения Пипики, Титики и Фыр-Фыра</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="vendor/vue.js"></script>
        <script src="vendor/tailwind.js"></script>
        <link rel="stylesheet" href="vendor/tw-elements.css" />
    </head>
    <body>
    <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

            createApp({
                data() {
                    return {
                        isMenu: true,
                        lvl: 0,
                        content: [
                            {"ind":0,  "lvl":1, 'rom':'I', "imgs":5, "title":"Первая история"},
                            {"ind":1,  "lvl":2, 'rom':'II', "imgs":8, "title":"Лавина"},
                            {"ind":2,  "lvl":3, 'rom':'III', "imgs":11, "title":"Банановый остров"},
                            {"ind":3,  "lvl":4, 'rom':'IV', "imgs":12, "title":"Как делаются печеньки"},
                            {"ind":4,  "lvl":5, 'rom':'V', "imgs":5, "title":"Дождь"},
                            {"ind":5,  "lvl":6, 'rom':'VI', "imgs":6, "title":"Окно в осень"},
                            {"ind":6,  "lvl":7, 'rom':'VII', "imgs":9, "title":"Примёрзшие печеньки"},
                            {"ind":7,  "lvl":8, 'rom':'VIII', "imgs":10, "title":"За ягодами"},
                            {"ind":8,  "lvl":9, 'rom':'IX', "imgs":10, "title":"Грибы"},
                            {"ind":9,  "lvl":10, 'rom':'X', "imgs":5, "title":"Как делается чай"},
                            {"ind":10, "lvl":11, 'rom':'XI', "imgs":7, "title":"Будь в форме"},
                            {"ind":11, "lvl":12, 'rom':'XII', "imgs":5, "title":"Знакомство с Ёжиком"},
                            {"ind":12, "lvl":13, 'rom':'XIII', "imgs":7, "title":"Троя"},
                            {"ind":13, "lvl":14, 'rom':'XIV', "imgs":6, "title":"Стульчик"},
                            {"ind":14, "lvl":15, 'rom':'XV', "imgs":9, "title":"Знакомство с Тигром"},
                            {"ind":15, "lvl":16, 'rom':'XVI', "imgs":14, "title":"Семечко подсолнуха"},
                            {"ind":16, "lvl":17, 'rom':'XVII', "imgs":8, "title":"Вулкан"},
                            {"ind":17, "lvl":18, 'rom':'XVIII', "imgs":13, "title":"Снеговик"},
                            {"ind":18, "lvl":19, 'rom':'XIX', "imgs":13, "title":"Репка"},
                            {"ind":19, "lvl":20, 'rom':'XX', "imgs":10, "title":"Пустыня"},
                            {"ind":20, "lvl":21, 'rom':'XXI', "imgs":8, "title":"Мячик у Совы"},
                            {"ind":21, "lvl":22, 'rom':'XXII', "imgs":10, "title":"Помирились с Совой"},
                            {"ind":22, "lvl":23, 'rom':'XXIII', "imgs":11, "title":"Ловится Ёжик"},
                            {"ind":23, "lvl":24, 'rom':'XXIV', "imgs":7, "title":"Качели"},
                            {"ind":24, "lvl":25, 'rom':'XXV', "imgs":7, "title":"Всё-таки вулкан?"},
                            {"ind":25, "lvl":26, 'rom':'XXVI', "imgs":8, "title":"За дровами"},
                            {"ind":26, "lvl":27, 'rom':'XXVII', "imgs":13, "title":"Пещера"},
                            {"ind":27, "lvl":28, 'rom':'XXVIII', "imgs":4, "title":"Зимняя рыбалка"},
                            {"ind":28, "lvl":29, 'rom':'XXIX', "imgs":8, "title":"Кто лучше всех ловит рыбу?",
                                "text": [
                                    "Однажды Тигр сильно хвастал, что он лучше всех ловит рыбу. Мышка и Ёжик ему отвечают: \"Да, мы знаем, Тигр\". - \"Нет, я ловлю лучше вас всех вместе взятых.\". И так Тигр расхвастался, что друзья решили проверить это соревнованием. \"Вы идите вон в ту половину озера, а я пойду в эту. Потом встретимся тут и подсчитаем кто сколько рыбы поймал.\"",
                                    "Тигр не просто так выбрал для себя половину озера. Там у него под камнем была спрятана запасная удочка. Так Тигр стал ловить двумя руками.",
                                    "- \"Ёжик, хорошо бы нам поймать больше чем Тигр, чтобы он перестал хвастаться\". - \"Да\". - \"Но он действительно хорошо ловит, так что ловить лучше чем он у нас не получится\". - \"Да\". - \"Поэтому мы будем ловить там, где рыбы больше\". - \"Да\". - \"И ты мне в этом поможешь\" - \"А как?\"",
                                    "- \"Ёжик, я буду забрасывать удочку, а ты залезешь на дерево и будешь смотреть где плавает рыба и будешь показывать куда забрасывать.\" - \"Мышка, я не залезу на это дерево, тут высоко.\" - \"Ёжик, вот для тебя верёвочная лестница.\" - \"Хорошо.\"",
                                    "Тигр уже наловил немножко рыбы, а потом поймал черепаху. \"Интересно, считается это или нет. Вроде бы поймал. А вроде бы договаривались ловить рыбу. Потом подумаю, а пока положу черепаху вместе с уловом.\"",
                                    "А потом, когда Тигр отвернулся, черепаха схватила рыбу, да ещё и удочку и нырнула в воду. \"Вот ведь незадача. Теперь и ловить так быстро не получится. Пойду к Мышке с Ёжиком - подсчитывать рыбу.\"",
                                    "У Мышки с Ёжиком тоже произошло происшествие. Ёжику очень понравилось указывать. Он увлёкся и потихонечку двигался вперёд. И в какой-то момент, ветка под ним сломалась. Ёжик упал в воду.",
                                    "- \"Держись! Сейчас я тебя спасу!\" Но как же вытащить Ёжика? И Мышка придумала сорвать с дерева верёвочную лестницу и бросить её Ёжику. Ёжик был спасён.",
                                    "Когда они встретились для подсчёта рыбы, оказалось что поймали они поровну."
                                ]
                            },
                            {"ind":29, "lvl":30, 'rom':'XXX', "imgs":5, "title":"Добыча крабов", 
                                "text": [
                                    "Однажды Тигр размышлял над рыбалкой. И пришёл к выводу, что рыба, которая ловится зависит от наживки. Можно выбирать улов, выбирая наживку. \"Интересно, а какую рыбу можно было бы поймать, скажем, на сосиску?\" Наверняка такая рыба будет большой и ловить её лучше подальше от берега. Тигр отварил целую кастрюлю сосисок...",
                                    "Он отплыл на лодке. Подальше от берега, чтобы крабы не достали его приманку. Забросил удочку. Но не повезло то, что крабы как раз там и были. И, забравшись на камень, они добрались до сосиски.",
                                    "Крабы сняли сосиску с крючка, и вместо неё прицепили туда какую-то жестянку со дна. \"Ну и ладно, зато речка будет почище\" - подумал Тигр. И поплыл к берегу за новой сосиской.",
                                    "Но когда он добрался до берега, выяснилось, что все сосиски пропали из кастрюли. Зато появились следы, ведущие в сторону большого камня.",
                                    "Тигр подошёл и перевернул камень. Под ним оказался тайник крабов - его сосиски, пара яблок, и даже гриб."
                                ]
                            },
                            {"ind":30, "lvl":31, 'rom':'XXXI', "imgs":6, "title":"Ёжик - кит?",
                                "text": [
                                    "Однажды Тигр пришёл в гости к Мышке, а она в тот момент читала книжку. - \"О, Мышка, а что это такое большое нарисовано на обложке?\" - \"Это кит. А такой большой он потому, что питается планктоном.\" - \"Я тоже хочу стать таким большим! А на какую удочку лучше планктон ловить?\" - \"Нет, Тигр. Планктон слишком маленький для удочки. Это вроде мелких-мелких креветочек\"",
                                    "Тигр пришёл домой и открыл шкаф. Он выбирает инструмент для рыбалки.",
                                    "Тигр пошёл на ближайший пруд в поиске этих мелких-мелких креветочек.",
                                    "Первый же взмах сачком принёс пучок водорослей. А когда Тигр стал их вытаскивать, из сачка что-то выпрыгнуло с громким \"ква\".",
                                    "Тигр вытряхнул сачок и из него выпало несколько улиток.",
                                    "А потом подошли Мышка и Ёжик. Ёжик нёс на спине яблоко с раскидистыми листьями. А Мышка, когда увидела Ёжика с яблоком и убегающих улиток, засмеялась и показала на книжку - вот он, кит и креветочки!"
                                ]
                            },
                            {"ind":31, "lvl":32, 'rom':'XXXII', "imgs":4, "title":"Ветер",
                                "text": [
                                    "Однажды задул сильный устойчивый ветер. Мышка поспешила снять с верёвки постиранное бельё.",
                                    "Хоть рыба в такой ветер и клевала хорошо, но вытащить её не получалось.",
                                    "Только Ёжик был доволен. От такого ветра ветки яблони наклонялись довольно низко, и Ёжик, буквально с корзинки, мог достать до яблок. Он выбирал самые вкусные - самые червивые. Яблоки-носки он не выбирал.",
                                    "Друзья решили, что в такой ветер лучше отложить дела и позапускать самолётики. Ёжику нравилось делать самолётики. Мышке нравилось запускать их. А Тигр сделал воздушного змея"
                                ]
                            },
                            {"ind":32, "lvl":33, 'rom':'XXXIII', "imgs":8, "title":"Гигантский краб", 
                                "text": [
                                    "Однажды пришла зима и их пруд покрылся льдом. Мышка и Тигр катались на коньках. Ёжик не умел, но очень хотел.",
                                    "Они дали ему коньки. Ёжик попробовал, но на повороте упал.",
                                    "Он вернул коньки. А про себя решил, что непременно научится кататься на коньках.",
                                    "Пришло лето. Лёд растаял. Тигр, как обычно, ловил рыбу. Крабы, как обычно, утаскивали рыбу. Тигр, как обычно, пытался вернуть рыбу.",
                                    "А по дороге назад, Тигр увидел на земле очень большие характерные следы...",
                                    "Тигр кинулся к Мышке. -\"Мышка, скорее бежим ловить гигантского краба!\" - \"Гигантского краба?\" - \"Да. Я следы видел!\"",
                                    "Они спрятались за пеньком и держали сачки на готове. -\"Какой хитрый краб! Обернулся листьями и видно лишь листья. Ну ничего. Мышка по моей команде, прыгаем!\"",
                                    "...Гигантский краб оказался Ёжиком, который тренировался кататься на коньках."
                                ]
                            },
                            {"ind":33, "lvl":34, 'rom':'XXXIV', "imgs":7, "title":"Ракушка"},
                            {"ind":34, "lvl":35, 'rom':'XXXV', "imgs":5, "title":"Загадочные колючки",
                                "text": [
                                    "Однажды внезапно подувший ветер принёс откуда-то неизвестные колючие семена.",
                                    "Мышка обнаружила, что эти колючки вполне себе цепляются на носки, которые она повесила сушиться.",
                                    "Колючки каким-то непонятным образом даже цеплялись за рыбу, которую сушил Тигр.",
                                    "Лишь Ёжик не замечал никаких проблем. Разве что немножко спинка чесалась.",
                                    "Друзья выяснили, что если расколоть колючки, то внутри находится ароматная семечка. И оказалось, что на неё очень хорошо ловятся сомы."
                                ]
                            },
                            {"ind":35, "lvl":36, 'rom':'XXXVI', "imgs":9, "title":"Вавилонская Башня",
                                "text": [
                                    "Однажды Мышка, Тигр и Ёжик решили построить башню до небес. Строить решили из кирпичей. Технология была такая: они сделали из деревяшек формочки, с помощью лопаты и вёдер закладывали туда глину; потом ждали; а когда глина подсыхала, вытаскивали формочку; и начинали делать новый кирпич. Это в теории. На практике же, Ёжик очень хотел сделать больше всех кирпичей, и практически не ждал пока они высохнут. Поэтому кирпичи у него получались, скажем так, разные...",
                                    "В фундамент пошли кирпичи Мышки.",
                                    "Далее - кирпичи Тигра. Но чтобы их разместить, уже потребовалось насыпать вспомогательную горку, чтобы можно было подобраться к вершине башни.",
                                    "Потом наступил черёд кирпичей Ёжика. Пара кирпичей поровнее держалась хорошо, но вот дальше...",
                                    "Кирпичи Ёжика стали падать. Упав как меторит они выбили в земле большую яму. Мышка от этого спряталась под лестницей и обхватила голову руками. Тигр побежал прочь с криком \"Мама!\". А Ёжик сказал \"Ой\".",
                                    "Друзья решили, что эта башня опасна и решили засыпать её землёй, чтобы ещё кирпичи не упали. Они провозились почти до заката. К тому же, к этому времени пошёл дождь.",
                                    "Утром они пришли посмотреть что там с башней. Тигр увидел, что яма от кирпича заполнилась водой и сразу же сказал, что сейчас будет ловить там рыбу. \"Тигр, ну какая рыба, это же просто лужа! Да и удочки у тебя с собой сейчас нет\". \"А мне и не надо! - Я и рукой тут поймаю. Вот смотрите!\"",
                                    "\"Ой-ой-ой! Помогите!\" - Тигра за руку цапнул рак.",
                                    "Мышка нашла где-то палку и, используя её как рычаг, пытается ослабить хватку рака. Ёжик набросил на хвост рака верёвку и тянет его. Освободили Тигра. Тигр благодарит. И обещает больше в лужах не ловить рубу рукой."
                                ]
                            },
                            {"ind":36, "lvl":37, 'rom':'XXXVII', "imgs":6, "title":"Тигр по лесу идёт..."},
                            {"ind":37, "lvl":38, 'rom':'XXXVIII', "imgs":11, "title":"Подводная лодка"},
                            {"ind":38, "lvl":39, 'rom':'XXXIX', "imgs":5, "title":"Логика",
                                "text": [
                                    "Был погожий летний день и друзья решили поиграть на улице. Мышка и Крыска играли в игру \"логика\". Ёжик нюхал цветы. А тигр сачком тренировался на бабочках.",
                                    "Мышка в логике загадала комбинацию. Крыска отгадывает. - \"Рыба, солнышко, сыр\" - \"Солнышко правильно. Остального нет.\" - \"Дождь, солнышко, чай.\" - \"Дождь и солнышко правильно, а чая нет.\" - \"Дождь, солнышко, морковка.\" - \"Верно.\" - Так играли Мышка и Крыска. А Ёжик устал и стал пить молоко. Тигру же надоело тренироваться на бабочках и он решил потренироваться как-нибудь ещё.",
                                    "Теперь тренируется Ёжик, а Тигр убегает: \"Ёжик, отдай сачёк.\". В \"логике\" загадывает Крыска. - \"Солнышко, рыба, гриб?\" - \"Ни одного.\" - \"Чай, дерево, печенька.\" - \"Чай и печенька есть, но не там.\" - \"Печенька, морковка, чай.\" - \"Теперь там, но морковки нет.\" - \"Печенька, сыр, чай.\" - \"Верно.\"",
                                    "Давайте подкрепимся. Ёжик, держи \"логику\".",
                                    "Ладно, давайте попытаемся отгадать, что же загадал Тигр. Мышка и Крыска делают предположение, что в загаданном наверняка будет рыба, но они никак не могут найти ни одной фишки рыбы. \"Ёжик, тебе там фишка рыбы не попадалась?\" - \"Нет\". А фишки рыбы действительно были у Тигра. Он их все выловил и на всякий случай проверяет на вкус."
                                ]
                            },
                            {"ind":39, "lvl":40, 'rom':'XL', "imgs":3, "title":"Важные мысли",
                                "text": [
                                    "\"Мышка, а как у тебя получается жонглировать?\"",
                                    "- \"Попробуй заглянуть в себя. Увидишь много мыслей. А дальше нужно выбрать, на что обращать внимание. Сосредоточься на том, что для тебя важно.\" - \"Спасибо, попробую.\"",
                                    "- \"Мышка, кажется получается.\" - \"Тигр, я тоже попробую...\""
                                ]
                            },
                            {"ind":40, "lvl":41, 'rom':'XLI', "imgs":9, "title":"Жмурки",
                                "text": [
                                    "Друзья играли в жмурки. Первой водила Мышка.",
                                    "Она слышала как громко убегал Тигр и довольно быстро поймала его.",
                                    "Потом водил Тигр. Он долго искал хоть кого-нибудь.",
                                    "И нашёл кого-то колючего за деревом. -\"Ёжик, я поймал тебя!\" -\"Тигр, а ты уверен?\"",
                                    "Оказалось, что это поймалась их новогодняя ёлка.",
                                    "\"Давайте я буду водить\" - говорит Крыска. А Мышка тем временем оказывает Тигру первую помощь.",
                                    "\"Ёжик, я вот-вот поймаю тебя! Ты громко пыхтишь когда убегаешь\". Но тут Ёжик почувствовал запах червяков...",
                                    "Замешкался... И тут Крыска его догнала. И споткнулась о Ёжика. Мышка несёт аптечку...",
                                    "Крыске заклеивают пластырем пораненную лапку. Повязка у Ёжика. Тигр убегает прятаться. Ёжик водит. Но он не идёт за Тигром. Ёжик водит ложкой по ведру с червяками..."
                                ]
                            },
                            {"ind":41, "lvl":42, 'rom':'XLII', "imgs":33, "title":"Алфавит"},
                            {"ind":42, "lvl":43, 'rom':'XLIII', "imgs":6, "title":"Зимняя прогулка",
                                "text": [
                                    "Однажды друзья решили сходить на прогулку. Был чудесный зимний день. Солнечно, ярко и снежно. Они снарядили рюкзаки и отправились в заснеженный хвойный лес.",
                                    "Найдя подходящее место, они сгрузили рюкзаки под ёлкой. Кто-то пошёл на замёрзший пруд - насверлить дырок во льду и порыбачить. Кто-то лепил снеговика.",
                                    "Снеговик готов. Пора подкрепиться. Давайте сделаем суп. На счёт картошки и грибов согласились все. Крыска сказала, что нужно добавить морковку, Тигр сказал - рыбу. А Мышка с Ёжиком собирают снег, чтобы в суп добавить воды.",
                                    "Кажется будет вкусно...",
                                    "Они пробыли там до самого вечера. И перед тем как уйти, проверили, что ничего не забыли. А потом забросали снего место, где горел костёр.",
                                    "А когда снег уже засыпал их следы, у снеговика появилась новая цепочка следов..."
                                ]
                            },
                            {"ind":43, "lvl":44, 'rom':'XLIV', "imgs":6, "title":"Книги",
                                "text": [
                                    "Однажды они были в гостях у Мышки и Крыски. Пили чай, ели вкусняшки, и разговаривали.",
                                    "И вот, зашёл разговор про книги. Мышка и Крыска говорят, что у них есть книги по математике, физике, механике, про инженерные изобретения, про растения, про вулканы, про космос, и про насекомых.",
                                    "Тигр говорит, что у него есть книги про рыбалку. Про разные виды рыб, про удочки, про вкусных рыб, про водоплавающих рыб, про сачки, и просто про рыбу.",
                                    "Ёжик ответил, что у него есть книги про грибы: \"Грибы обычные\", \"Грибы ядовитые\", \"Лесные грибы\", \"Если вы видите лесные опята, значит вы в лесу\", \"Грибы\", \"Червивые грибы - как их приготовить вкусно\", ну и про краски.",
                                    "Про краски?",
                                    "Да. Я иногда, знаете ли, дорисовываю грибам красные точечки, чтобы они красивее смотрелись."
                                ]
                            },
                            {"ind":44, "lvl":45, 'rom':'XLV', "imgs":7, "title":"Большааая загадка",
                                "text":[
                                    "Друзья, отгадайте слово, которе я загадал! Крутить барабан не нужно - он у нас в виде кораблика на пеньке - сам развернётся как ветер подует. Ёжик ближе всего ко мне - пусть он ходит первым.",
                                    "-\"А\" -\"Есть такая буква\".",
                                    "-\"Б\" -\"И такая буква есть. Так, давайте кто-нибудь другой, а то Ёжик уж большо хорошо угадывает\".",
                                    "-\"Ы?\" -\"Есть\".",
                                    "-\"А там есть буква Р?\" -\"Да! Вы отгадали слово\".",
                                    "Тигр, а почему там столько буквы \"Р\"?",
                                    "Потому, что Р-Р-Р-ы-б-а!"
                                ]
                            },
                            {"ind":45, "lvl":46, 'rom':'XLVI', "imgs":14, "title":"Пикник на песчанном острове",
                                "text":[
                                "Однажды друзья решили отдохнуть и устроить пикник на острове. Они приготовили и взяли с собой много вещей. Всё это погрузили во множество ящиков и мешочков. А на остров отправились на надёжной и добротной лодке.",
                                "Лодка была вёсельная. Она резво шла по реке. Гребли Мышка и Крыска. Ёжик отдыхал свернувшись клубочком. Тигр размахивал сачком, надеясь поймать летучую рыбу.",
                                "Они вдоволь поплавали по речке и, наконец, нашли понравившися им остров. Причалили. А на реке, кажется, даже ещё какой-то корабль был, но у него парус был какой-то странный... Друзья крепко и надёжно закрепили якорь, чтобы лодку не унесло теченьем. И принялись выгружать вещи.",
                                "На острове они занимались тем, что им нравилось. Мышка и Крыска присутпили к палеонтологическим раскопкам в песке. Им сопутствовала удача. Они нашли несколько акульих зубов и даже фрагмент какой-то челюсти. Ёжик сложил несколько башенок из ящиков и, с помощью кусочка тряпки, сделал навес от солнца. Тигр же, с удовольствием пил сладкий горячий чай, немножко мурлыкая от удовольствия.",
                                "В какой-то момент они все проголодались и решили подкрепиться. Мышка набрала кастрюлю воды, покрошила туда картошку, лук, положила морковку. Крыска собирается сделать поджаренный на огне хлебушек. Тигр принёс рыбу. Ёжику понравилась идея Крыски, и он раздобыл червивое яблоко. Казалось бы, всё здорово, но оказалось, что у них нет дров для разведения костра.",
                                "Ну это не проблема... Разломали несколько ящиков, добыли деревяшки. С помощью луппы собрали солнечные лучи, подпалили какую-то тряпицу и вот огонь уже начинает полыхать. Но дров нужно бы побольше. Тащите их ещё.",
                                "Когда выглянула луна, они все были у костра. Крыска наелась и легла спать. У неё была мягка подушечка и тёплое клетчатое одеяло. Мышка решила положиить себе добавку супа. Тигр лежал на подушке и любовался: \"Какой красивый сегодня месяц! Почти как карасик!\". Ёжик с аппетитом выковыривал червяков из печёного яблока.",
                                "А утром, когда Мышка проснулась и пошла посмотреть на лодку, нашлись веские причины для беспокойства. Оказалось, что в порыве добычи дров они вчера частично разобрали лодку...",
                                "Что же делать!? Мышка стала звать на помощь. Крыска привязала тряпку к веслу и размахивала им, стараясь привлечь внимание. Ёжик высоко подбрасывал яблоки. Но яблоки не всегда падали на землю. Видимо какая-то аномалия. Тигр тоже размахивал удочкой.",
                                "Мышка и Крыска стали подбрасывать Ёжика. Вверх Ёжик подбрасывался без проблем, но вот ловить его было посложнее. Тигр продолжал закидывать удочку. Уже подальше от берега - он зашёл уже почти по колено, но крупной рыбы на песачной отмели не поймать.",
                                "Тигр отходил всё дальше. А Мышка и Крыска, несмотря на подбадривания Ёжика, решили, что подбрасывать его идея всё же не очень. Крыска соорудила ходули из вёсел.",
                                "Попрактиковавшись на берегу, Крыска пошла на ходулях в волны прилива. Какое-то время всё было хорошо, но вот одна из ходуль надломилась...",
                                "Крыска упала в воду. Мышка и Ёжик кинулись на помощь. Мышка плыла быстро, по спортивному. У Ёжика была более короткая шея и ему тяжелее было держать голову над водой, поэтому он плыл по морскому-ежиному, но он тоже спешил на помощь Крыске. А ещё Крыске внезапно на помощь прилетел крючок и леска от удочки... с другого берега.",
                                "Оказалось, что песчаная коса была очень широкой и до их родного берега вполне можно добраться вброд. Они были очень довольны, что вернулись. И все пошли в гости к Тигру, чей домик был ближайшим. На горизонте событий намечались рыбные котлетки и сладкий чай."
                                ]
                            },
                            {"ind":46, "lvl":47, 'rom':'XLVII', "imgs":10, "title":"Эль Капитан и Джессика",
                                "text":[
                                "Друзья пришли в гости к Ёжику. Но Ёжик сказал, что и сам бы хотел пойти в гости к кому-нибудь. И они решили пойти на восток, в лес. Туда куда раньше не ходили. Да и Ёжик заинтриговал их, сказав, что когда-то видел там не опознанный летающий древесный корабль.",
                                "Через час пути корабль действительно нашёлся. Но он был не то чтобы летающим - он был надёжно прикреплён на дерево и использовался в качестве домика. Вниз свисала верёвочная лестница.",
                                "Когда они поднялись на верх, то познакомились с Эль Капитаном и Джессикой",
                                "Новые знакомые пригласили друзей внутрь. Внутри было довольно светло, благодаря многочисленным бойницам, служившим в качестве окошек. На полу лежали книжки, у стены было множество бочек и ящиков. Джессика поставила чайник и стала готовить макароны по-флотски. Их запах очень понравился Крыске. Ёжик и Тигр осматривались и разглядывали то бочки, то картины с кораблём (кажется в волнах рядом с кораблём был виден рыбий плавник). Потом зашёл Эль Капитан. Он снял шляпу и стал беседовать с Мышкой. Когда он повернулся, оказалось, что у него на плече родимое пятно в виде якоря. Через некоторое время Мышка предоложила сыграть в шахматы. Эль Капитан с большим удовольствием согласился и сказал, что очень хорошо играет в шахматы. И через пару минут попросил напомнить правила игры.",
                                "Мышка рассказала правила шахмат. А потом предложила Эль Капитану ходить первым, потому что так легче. Но он отказался - сказал, что будет плыть, то есть играть, под чёрным флагом. А то, что он будет ходить вторым не страшно, наоборот - это фора для Мышки. А ещё, усиливая фору, Эль Капитан будет играть лишь одной левой рукой, и смотреть всего одним глазом - даже повязку на один глаз наденет. Так же, чтобы Мышке было совсем легко, он пообещал играть по памяти и не смотреть ни на компас ни на карту.",
                                "Они играли напряжённо. Эль Капитан учился быстро, но Мышка засомневалась, что он раньше когда-либо играл в шахматы. Ну что же, в таком случае, у него получается довольно не плохо. Партия, тем не менее, складывалась в пользу Мышки.",
                                "Потом, когда они обсуждали игру, Мышка сказала, что смогла поставить мат, потому что в предыдущем ходу Эль Капитан напал своей ладьёй на её ладью. Эль Капитан ответил, что так вышло, потому что он слишком увлёкся когда предствил сражение ладей.",
                                "Тем временем, Тигр, гуляя по дому увидел книжку с рыбой на обложке и потянул её, чтобы рассмотреть. Но он не увидел, что на книжке стояли ящики и ваза, на которой сверху было тяжёлое пушечное ядро.",
                                "Это увидел Эль Капитан. И в последний момент успел допрыгнуть до Тигра и оттолкнуть его. Пушечное ядро упало на Эль Капитана.",
                                "Синяк получился знатный. Зато всего лишь на ноге, а не на голове. Заживёт. Тем более, что Джесика уже начинает лечить. Мышка и Крыска говорят \"спасибо\". Тигр протягивает рыбу и говорит \"благодарю\". Вот только Ёжика нигде не видно..."
                                ]
                            },
                        ]
                    }
                },
                methods: {
                    toLvl(lvl) {
                        this.isMenu = false;
                        this.lvl = lvl;
                    },
                    toMenu() {
                        this.isMenu = true;
                    }
                }
            }).mount('#app')
        </script>
    <h1 class="py-8 white/20 font-semibold px-6 flex items-center justify-center sm:w-auto mt-4 text-3xl">Приключения Пипики, Титики и Фыр-Фыра</h1>
        <h1 class="py-8 white/20 font-semibold px-6 flex items-center justify-center sm:w-auto mt-4 text-3xl">The adventures of Pipika, Titika and Fir-fir</h1>
        <div id="app" class="flex justify-center">
            <template v-if="isMenu">
                <div class="px-4 sm:px-6 md:px-8 w-96 items-center columns-1">
                    <template v-for="item in content" :key="item.ind">
                        <div class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400 mt-4" @click="toLvl(item.lvl)">
                            <span @click="toLvl(item.ind)">{{item.rom}} <span v-if="item.title" class="ml-5">{{item.title}}</span></span>
                        </div>
                    </template>
                </div>
            </template>
            <template v-else>
                <div class="text-center my-5 mx-5">
                    <h2 v-if="content[lvl - 1].title" class="text-2xl font-semibold">{{content[lvl - 1].title}}</h2>
                    <div class="text-center my-5 mx-5">
                        <template v-if="lvl==1">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">prev</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl-1)">prev</span>
                        </template>
                        <span class="cursor-pointer mx-5 inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out" @click="toMenu()">home</span>
                        <template v-if="lvl!=content.length">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl+1)">next</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">next</span>
                        </template>

                        <div class="container py-4">
                            <template v-for="i in content[lvl - 1].imgs" >
                                <div class="row py-2" >
                                    <div class="col-sm">
                                        <img class="w-1/2 inline-block" v-bind:src="'chapters/' + (lvl) + '/'+ i +'.jpg'" alt="">
                                        <template v-if="content[lvl - 1].text && content[lvl - 1].text[i-1]">
                                            <br>
                                            <img src="favicon.ico" class="
                                                h-20 inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-100 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                                            data-bs-toggle="collapse" v-bind:data-bs-target='"#collapseExample" + (i-1)' aria-expanded="true" aria-controls="collapseExample">

                                            <div class="collapse" v-bind:id='"collapseExample" + (i-1)' style="">
                                                <div class="block p-6 rounded-lg shadow-lg bg-white text-2xl">
                                                    {{content[lvl - 1].text[i-1]}}
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <template v-if="lvl==1">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">prev</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl-1)">prev</span>
                        </template>
                        <span class="cursor-pointer mx-5 inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out" @click="toMenu()">home</span>
                        <template v-if="lvl!=content.length">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl+1)">next</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">next</span>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    <script src="vendor/tw-elements.js"></script>
    </body>
</html>
