<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Приключения Пипики, Титики и Фыр-Фыра</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="vendor/vue.js"></script>
        <script src="vendor/tailwind.js"></script>
    </head>
    <body>
        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

            createApp({
                data() {
                    return {
                        isMenu: true,
                        lvl: 0,
                        content: [
                            {"ind":0,  "lvl":1, 'rom':'I', "imgs":5, "title":"Первая история"},
                            {"ind":1,  "lvl":2, 'rom':'II', "imgs":8, "title":"Лавина"},
                            {"ind":2,  "lvl":3, 'rom':'III', "imgs":11, "title":"Банановый остров"},
                            {"ind":3,  "lvl":4, 'rom':'IV', "imgs":12, "title":"Как делаются печеньки"},
                            {"ind":4,  "lvl":5, 'rom':'V', "imgs":5, "title":"Дождь"},
                            {"ind":5,  "lvl":6, 'rom':'VI', "imgs":6, "title":"Окно в осень"},
                            {"ind":6,  "lvl":7, 'rom':'VII', "imgs":9, "title":"Примёрзшие печеньки"},
                            {"ind":7,  "lvl":8, 'rom':'VIII', "imgs":10, "title":"За ягодами"},
                            {"ind":8,  "lvl":9, 'rom':'IX', "imgs":10, "title":"Грибы"},
                            {"ind":9,  "lvl":10, 'rom':'X', "imgs":5, "title":"Как делается чай"},
                            {"ind":10, "lvl":11, 'rom':'XI', "imgs":7, "title":"Будь в форме"},
                            {"ind":11, "lvl":12, 'rom':'XII', "imgs":5, "title":"Знакомство с Ёжиком"},
                            {"ind":12, "lvl":13, 'rom':'XIII', "imgs":7, "title":"Троя"},
                            {"ind":13, "lvl":14, 'rom':'XIV', "imgs":6, "title":"Стульчик"},
                            {"ind":14, "lvl":15, 'rom':'XV', "imgs":9, "title":"Знакомство с Тигром"},
                            {"ind":15, "lvl":16, 'rom':'XVI', "imgs":14, "title":"Семечко подсолнуха"},
                            {"ind":16, "lvl":17, 'rom':'XVII', "imgs":8, "title":"Вулкан"},
                            {"ind":17, "lvl":18, 'rom':'XVIII', "imgs":13, "title":"Снеговик"},
                            {"ind":18, "lvl":19, 'rom':'XIX', "imgs":13, "title":"Репка"},
                            {"ind":19, "lvl":20, 'rom':'XX', "imgs":10, "title":"Пустыня"},
                            {"ind":20, "lvl":21, 'rom':'XXI', "imgs":8, "title":"Мячик у Совы"},
                            {"ind":21, "lvl":22, 'rom':'XXII', "imgs":10, "title":"Помирились с Совой"},
                            {"ind":22, "lvl":23, 'rom':'XXIII', "imgs":11, "title":"Ловится Ёжик"},
                            {"ind":23, "lvl":24, 'rom':'XXIV', "imgs":7, "title":"Качели"},
                            {"ind":24, "lvl":25, 'rom':'XXV', "imgs":7, "title":"Всё-таки вулкан?"},
                            {"ind":25, "lvl":26, 'rom':'XXVI', "imgs":8, "title":"За дровами"},
                            {"ind":26, "lvl":27, 'rom':'XXVII', "imgs":13, "title":"Пещера"},
                            {"ind":27, "lvl":28, 'rom':'XXVIII', "imgs":4, "title":""},
                            {"ind":28, "lvl":29, 'rom':'XXIX', "imgs":8, "title":""},
                            {"ind":29, "lvl":30, 'rom':'XXX', "imgs":5, "title":""},
                            {"ind":30, "lvl":31, 'rom':'XXXI', "imgs":6, "title":""},
                            {"ind":31, "lvl":32, 'rom':'XXXII', "imgs":4, "title":""},
                            {"ind":32, "lvl":33, 'rom':'XXXIII', "imgs":8, "title":""},
                            {"ind":33, "lvl":34, 'rom':'XXXIV', "imgs":7, "title":""},
                            {"ind":34, "lvl":35, 'rom':'XXXV', "imgs":5, "title":""},
                            {"ind":35, "lvl":36, 'rom':'XXXVI', "imgs":9, "title":""},
                            {"ind":36, "lvl":37, 'rom':'XXXVII', "imgs":6, "title":""},
                            {"ind":37, "lvl":38, 'rom':'XXXVIII', "imgs":11, "title":""},
                            {"ind":38, "lvl":39, 'rom':'XXXIX', "imgs":5, "title":""},
                            {"ind":39, "lvl":40, 'rom':'XXXX', "imgs":3, "title":""},
                            {"ind":40, "lvl":41, 'rom':'XXXXI', "imgs":9, "title":""},
                            {"ind":41, "lvl":42, 'rom':'XXXXII', "imgs":33, "title":"Алфавит"},
                        ]
                    }
                },
                methods: {
                    toLvl(lvl) {
                        this.isMenu = false;
                        this.lvl = lvl;
                    },
                    toMenu() {
                        this.isMenu = true;
                    }
                }
            }).mount('#app')
        </script>
        <h1 class="py-8 white/20 font-semibold px-6 flex items-center justify-center sm:w-auto mt-4 text-3xl">Приключения Пипики, Титики и Фыр-Фыра</h1>
        <h1 class="py-8 white/20 font-semibold px-6 flex items-center justify-center sm:w-auto mt-4 text-3xl">The adventures of Pipika, Titika and Fir-fir</h1>
        <div id="app" class="flex justify-center">
            <template v-if="isMenu">
                <div class="px-4 sm:px-6 md:px-8 w-96 items-center columns-1">
                    <template v-for="item in content" :key="item.ind">
                        <div class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400 mt-4" @click="toLvl(item.lvl)">
                            <span @click="toLvl(item.ind)">{{item.rom}} <span v-if="item.title" class="ml-5">{{item.title}}</span></span>
                        </div>
                    </template>
                </div>
            </template>
            <template v-else>
                <div class="text-center my-5 mx-5">
                    <h2 v-if="content[lvl - 1].title" class="text-2xl font-semibold">{{content[lvl - 1].title}}</h2>
                    <div class="text-center my-5 mx-5">
                        <template v-if="lvl==1">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">prev</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl-1)">prev</span>
                        </template>
                        <span class="cursor-pointer mx-5 inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out" @click="toMenu()">home</span>
                        <template v-if="lvl!=content.length">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl+1)">next</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">next</span>
                        </template>

                        <div class="container py-4">
                            <template v-for="i in content[lvl - 1].imgs" >
                                <div class="row py-2" >
                                    <div class="col-sm">
                                        <img class="w-1/2" v-bind:src="'chapters/' + (lvl) + '/'+ i +'.jpg'" alt="">
                                    </div>
                                </div>
                            </template>
                        </div>
                        <template v-if="lvl==1">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">prev</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl-1)">prev</span>
                        </template>
                        <span class="cursor-pointer mx-5 inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out" @click="toMenu()">home</span>
                        <template v-if="lvl!=content.length">
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out" @click="toLvl(lvl+1)">next</span>
                        </template>
                        <template v-else>
                            <span class="cursor-pointer inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">next</span>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </body>
</html>